/* DIVS */
.container-one {
  background-color: #fbc6a4;
  width: 100%;
  height: 60rem;
  text-align:center;
}
.container-two {
  background-color: #f4a9a8;
  width: 100%;
  height: 60rem;
  text-align: center;
}
.container-three {
  background-color: #ce97b0;
  width: 100%;
  height: 60rem;
  text-align: center;
}
.container-four {
  background-color: #afb9c8;
  width: 100%;
  height: 60rem;
  text-align: center;

}
/* BODY */
body {
  margin: 0 0;
}
h1 {
  color: purple;
  font-family: 'Poppins', sans-serif;
  font-size: 3rem;
}
/* IMG */
.pink-heart {
  position: relative;
  top: 120px;
  width: 550px;
}
.minecraft-pic {
  height: 600px;
  float:left;
  padding: 180px 0 0 180px;
}
/* H1 */
.heading {
  position: relative;
  bottom: 250px;
  font-size: 4rem;
}
.container-one-hr {
  width: 100px;
  border-top: 10px dotted purple;
  border-bottom: none;
  border-left: none;
  border-right: none;
}
p {
  color: purple;
  display:inline-block;
  font-family: 'Roboto', sans-serif;
  font-size: 1.25rem;
}
.container-two-text-header {
  margin: 0 0 0 0;
  padding: 200px 0 0 0;
}
.container-two-text {
  width: 300px;
  padding-top: 120px;
}

.container-three-text-header {
  margin: 0 0 0 0;
  padding: 250px 0 0 0;
}
.container-three-text {
  width: 300px;
  padding-top: 120px;
}
.adventure-time-gif {
  height: 500px;
  float: right;
  padding: 220px 180px 0 0;
}
.holding-hands-gif {
  position: relative;
  top: 480px;
  display: block;
  margin: auto auto;
}
.container-four-text-header {
  padding-top: 80px;
}
/*

div {
  background-color: #fbc6a4;
}
body {
  margin: 0;
  margin-left: 0;
  margin-right: 0;
  text-align: center;
}
h1 {
  margin: 20px auto 0 auto;
  font-size: 90px;
  font-family: 'Poppins', sans-serif;
}
/** 100% == 16px == 1em ||||| rem ignores parent
p {
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
}
.first-cloud {
  position: relative;
  left: 200px;
  top: 30px;
}
.second-cloud {
  position: absolute;
}*/
